<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.breadbuster.barangayextend">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@drawable/barangay_extend_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwnNsKKRIVia-FigJsh2FMx3dLfeR_HK4" />

        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.AppDescriptionActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppDescriptionActivity" />
        <activity
            android:name=".Activity.CreateAnAccountActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppDescriptionActivity" />
        <activity
            android:name=".Activity.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="Welcome Home!"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.WriteSomethingActivity"
            android:configChanges="orientation|screenSize"
            android:label="What&apos;s on your mind?"
            android:screenOrientation="portrait"
            android:theme="@style/AppDescriptionActivity" />
        <activity
            android:name=".Activity.EditUserDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="Edit Details"
            android:screenOrientation="portrait"
            android:theme="@style/AppDescriptionActivity" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="My Account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- Broadcast receiver declaration in manifest file and make sure to enable it -->
        <receiver
            android:name=".classes.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Intent filters for broadcast receiver -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.AddBarangayActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Add Barangay"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Activity.AddQuestionWithAnswerActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Add Question w/ Answer for FAQ"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Activity.FrequentlyAskedQuestionActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Frequently Asked Questions (FAQs)"
            android:screenOrientation="portrait"
            android:theme="@style/AppDescriptionActivity" />
        <activity
            android:name=".Activity.AddSecurityQuestionActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Add Security Question"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:label="Forgot Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppDescriptionActivity" />
        <activity
            android:name=".Activity.RequestForPositionActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Request For Position"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Activity.CheckRequestsActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Requests"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.AddFeedbackActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Feedback &amp; Help"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Activity.CommentsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_comments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.AddCommentActivity"
            android:configChanges="orientation|screenSize"
            android:label="Add Comment"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Activity.CheckFeedbacksActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_check_feedbacks"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>